/*BUTTONS*/
.button {
	display: inline-block;
	background-color: var(--dark-color);
	color: var(--white-color);
	padding: 1.125rem 2rem;
	font-weight: var(--font-medium);
	border-radius: 0.5rem;
	transition: .3s;

	&:hover {
		transform: translateY(-.25rem);
	}

	&-light {
		display: inline-flex;
		color: var(--dark-color);
		font-weight: var(--font-bold);
		align-items: center;

		&:hover .button-icon {
			transform: translateX(.25rem);
		}
	}

	&-icon {
		font-size: 1.25rem;
		margin-left: var(--mb-1);
		transition: .3s;
	}
}
