/*===== COLLECTION =====*/
.collection {
	&__container {
		row-gap: 2rem;
		justify-content: center;
	}

	&__card {
		position: relative;
		display: flex;
		height: 328px;
		background-color: var(--dark-color-lighten);
		padding: 2rem;
		border-radius: 0.5rem;
		transition: .3s;
	}

	&__data {
		align-self: flex-end;
	}

	&__img {
		position: absolute;
		top: 0;
		right: 0;
		width: 230px;
	}

	&__name {
		font-size: var(--bigger-font-size);
		margin-bottom: 0.25rem;
	}

	&__description {
		margin-bottom: var(--mb-2);
	}

	&__card {
		&:hover {
			transform: translateY(-0.5rem);
		}
	}
}
