/*===== FOOTER =====*/
.footer {
	&__container {
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	}

	&__box {
		margin-bottom: var(--mb-4);
	}

	&__title {
		font-size: var(--big-font-size);
	}

	&__link {
		display: block;
		width: max-content;
		margin-bottom: var(--mb-1);
	}

	&__social {
		font-size: 1.5rem;
		margin-right: 1.25rem;
	}

	&__copy {
		padding-top: 3rem;
		font-size: var(--smaller-font-size);
		color: var(--dark-color-light);
		text-align: center;
	}
}