/*===== NAV =====*/
.nav {
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__item {
		margin-bottom: var(--mb-4);
	}

	&__logo {
		font-weight: var(--font-semi-bold);
	}

	&__toggle,
	&__shop {
		font-size: 1.3rem;
		cursor: pointer;
	}
}

@media screen and (max-width: 768px) {
	.nav__menu {
		position: fixed;
		top: var(--header-height);
		left: -100%;
		width: 70%;
		height: 100vh;
		padding: 2rem;
		background-color: var(--white-color);
		transition: 0.5s;
	}
}

/*Show menu*/
.show {
	left: 0;
}

/*Active link*/
.active {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		bottom: -0.5rem;
		left: 45%;
		width: 4px;
		height: 4px;
		background-color: var(--dark-color);
		border-radius: 50%;
	}
}

/*Change color header*/
.scroll-header {
	background-color: var(--white-color);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}
